- var pagename = 'Setup | Seller .'
<! DOCTYPE html >
html 
  head
    include pug/layouts/_head
    title #{pagename}
  body 
    .store
        // Sign up 
        .container-fuild
            .card.p-2.setupseller
                h2  Setup Store . 
                p We'll Help you to get best Experiment
                hr.m-0
                br  
                .form-group.mb-2.mt-2 
                    label Kind Your Store 
                    - var stores = ['clothes','golden','Watchs','Cars']
                    select(class="form-control form-control-md")
                        option(selected) Chosse...  
                        each store in stores
                            option(value=store) #{store}
                    label another
                    input(type="text",class='form-control form-control-md')
                .form-group.mb-2.mt-2
                    label What's Kind of Currency you work it 
                    - var currencys = ['USD','EUR','GBP','CHF','CAD','ZAR','EGP']
                    select(class="form-control form-control-md")
                        option(selected) Chosse...  
                        each currency in currencys
                            option(value=currency) #{currency}
                    label another
                    input(type="text",class='form-control form-control-md')
                button.btn.btn-primary.btn-md.gostore Next 
    // loading for setup
    .loading_setup
        h2 Store . 
        p.desc Waiting for Create your Store.....
        .spinner-grow(role="status").text-primary
            span.sr-only Loading...
    // loading for pages 
    include pug/components/loading.pug 

    include pug/layouts/_footer