- var pagename = 'Store - Stores '
<! DOCTYPE html >
html 
  head
    include pug/layouts/_head
    title #{pagename}
  body 
    .store
        // navbar home 
        include pug/components/_navbarhome
        // stores 
        .container-fuild.stores 
            .row
                // categories 400px screen
                .col-lg-4.mt-5.mb-5.categories-screen
                    .info_search.mb-5
                        p.title_page Categories #[i.fas.fa-info]
                    .cats 
                        ul.list-unstyled
                            li #[a(href="#") All Shops #[span.count (1k)]]
                            li #[a(href="#") Sports #[span.count (25)]]
                            li #[a(href="#") Football #[span.count (25)]]
                            li #[a(href="#") Skateboarding #[span.count (25)]]
                            li #[a(href="#") Golf #[span.count (25)]]
                            li #[a(href="#") Artsy fashion #[span.count (25)]]
                            li #[a(href="#") Sexy fashion #[span.count (15)]]
                            li #[a(href="#") Boxer Men #[span.count (225)] ]
                            li #[a(href="#") Watchs #[span.count (105)]]
                            li #[a(href="#") Decoration #[span.count (25)]]
                // stores 500px screen 
                .col-lg-8.mt-5.mb-5
                    .info_search.mb-5
                        p.title_page Stores #[i.fas.fa-info]
                        .form-group
                            input(type="search").form-control.form-control-md
                    // show stores 
                    .container 
                        .row 
                            // one store 
                            .col-lg-4.mb-5.col-md-6.col-sm-6.col-xl-3
                                a(href="store").card.border-0.pt-2.store
                                    img(src="imgs/store/02.png").posi_abs
                                    h2.title_store GlowFira
                                    p.desc_store simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                    - var iconstar = ['fas fa-star','fas fa-star','fas fa-star','fas fa-star']
                                    .rate 
                                        each icon in iconstar 
                                            i(class=icon)
                            .col-lg-4.mb-5.col-md-6.col-sm-6.col-xl-3
                                a(href="home.html").card.border-0.pt-2.store
                                    img(src="imgs/store/03.png").posi_abs
                                    h2.title_store Adidas
                                    p.desc_store simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                    - var iconstar = ['fas fa-star','fas fa-star','fas fa-star','fas fa-star']
                                    .rate 
                                        each icon in iconstar 
                                            i(class=icon)
                            .col-lg-4.mb-5.col-md-6.col-sm-6.col-xl-3
                                a(href="store").card.border-0.pt-2.store
                                    img(src="imgs/store/04.png").posi_abs
                                    h2.title_store Nike
                                    p.desc_store simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                    - var iconstar = ['fas fa-star','fas fa-star','fas fa-star','fas fa-star']
                                    .rate 
                                        each icon in iconstar 
                                            i(class=icon)
                            .col-lg-4.mb-5.col-md-6.col-sm-6.col-xl-3
                                a(href="store").card.border-0.pt-2.store
                                    img(src="imgs/store/05.png").posi_abs
                                    h2.title_store Jevans
                                    p.desc_store simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                    - var iconstar = ['fas fa-star','fas fa-star','fas fa-star','fas fa-star']
                                    .rate 
                                        each icon in iconstar 
                                            i(class=icon)

    // All menu Modals 
    include pug/components/menu/_linkone        
    // btn show your products on cart 
    .show-cart 
        i.fas.fa-shopping-bag 
    .show-profile
        i.fas.fa-user
        //  profile settings  
    include pug/components/_profilesettings 
    // sidebar shopping cart 
    include pug/components/_sidebarcart  
    // footer 
    include pug/components/footer
    //- loading
    include pug/components/loading.pug 
    // footer links script 
    include pug/layouts/_footer